.Foot{
    background-color: aqua;
    width: auto;
    height: 50%;
}

.head{
    background-color: aqua;
    width: auto;
    height: 50%;
}

.info{
    background-color: antiquewhite;
    width: 10%;
    height: auto;
    margin-left: 3px;
}